<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>7789770188-8taofl6kk6vouqqga3icvstrm81g8354.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7789770188-8taofl6kk6vouqqga3icvstrm81g8354</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>7789770188-han56qlb8qebe48f75kdircbin698ulb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAZUt1KgBm_OX5apwmO9zK3he4yaXQ7EHA</string>
	<key>GCM_SENDER_ID</key>
	<string>7789770188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.festival.rumour</string>
	<key>PROJECT_ID</key>
	<string>crapapps-65472</string>
	<key>STORAGE_BUCKET</key>
	<string>crapapps-65472.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7789770188:ios:77b629d9d170379111d969</string>
</dict>
</plist>